# Feature Creation

In [1]:
import pandas as pd

df = pd.DataFrame({
    "Study_Hours":[2,4,6,8,10],
    "Attendence":[60,70,80,90,95],
    "Maths":[40,55,65,75,80],
    "Science":[42,58,68,78,88]

})

In [2]:
df

   Study_Hours  Attendence  Maths  Science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

# Domain Based Feature

In [7]:
df["Total_Marks"] = df["Maths"] + df["Science"]
df

   Study_Hours  Attendence  Maths  Science  Total_Marks  Marks_per_Hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

# Mathematical Feature

In [8]:
df["Marks_per_Hour"] = df["Total_Marks"] / df["Study_Hours"]

In [9]:
df

   Study_Hours  Attendence  Maths  Science  Total_Marks  Marks_per_Hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

# Interaction Feature

In [10]:
df["Study_Attandence_Interaction"] = df["Study_Hours"] * df["Attendence"]

In [11]:
df

,Study_Hours,Attendence,Maths,Science,Total_Marks,Marks_per_Hour,Study_Attandence_Interaction
0,2,60,40,42,82,41.000000,120
1,4,70,55,58,113,28.250000,280
2,6,80,65,68,133,22.166667,480
3,8,90,75,78,153,19.125000,720
4,10,95,80,88,168,16.800000,950

# Polynomial Feature

In [12]:
df["Study_Hours_Squared"] = df["Study_Hours"] **2

In [13]:
df

,Study_Hours,Attendence,Maths,Science,Total_Marks,Marks_per_Hour,Study_Attandence_Interaction,Study_Hours_Squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100

# Feature Selection

In [14]:
df

,Study_Hours,Attendence,Maths,Science,Total_Marks,Marks_per_Hour,Study_Attandence_Interaction,Study_Hours_Squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100

In [15]:
x = df.drop("Science",axis=1)
y = df["Science"]

In [16]:
x

,Study_Hours,Attendence,Maths,Total_Marks,Marks_per_Hour,Study_Attandence_Interaction,Study_Hours_Squared
0,2,60,40,82,41.000000,120,4
1,4,70,55,113,28.250000,280,16
2,6,80,65,133,22.166667,480,36
3,8,90,75,153,19.125000,720,64
4,10,95,80,168,16.800000,950,100

In [17]:
y

0    42
1    58
2    68
3    78
4    88
Name: Science, dtype: int64

In [18]:
df.corr()["Science"].sort_values(ascending=False)

Science                         1.000000
Total_Marks                     0.998981
Maths                           0.995467
Study_Hours                     0.994309
Attendence                      0.994110
Study_Attandence_Interaction    0.983804
Study_Hours_Squared             0.958102
Marks_per_Hour                 -0.968737
Name: Science, dtype: float64

# Selecting important features

In [19]:
corr = df.corr()["Science"].abs()

In [20]:
corr

Study_Hours                     0.994309
Attendence                      0.994110
Maths                           0.995467
Science                         1.000000
Total_Marks                     0.998981
Marks_per_Hour                  0.968737
Study_Attandence_Interaction    0.983804
Study_Hours_Squared             0.958102
Name: Science, dtype: float64

In [21]:
selected_features = corr[corr > 0.8].index
selected_features

Index(['Study_Hours', 'Attendence', 'Maths', 'Science', 'Total_Marks',
       'Marks_per_Hour', 'Study_Attandence_Interaction',
       'Study_Hours_Squared'],
      dtype='object')