# Import Pandas

In [23]:
import pandas as pd
import numpy as np
pd.__version__

'2.2.3'

In [24]:
s = pd.Series([10,20,30])
s

0    10
1    20
2    30
dtype: int64

In [25]:
df = pd.DataFrame({
    "name":["Prasi","Suji"],
    "age":[21,20]
    })
df

    name  age
0  Prasi   21
1   Suji   20

# Writing the data into files

In [54]:
df.to_csv('data.csv',index=False)

In [55]:
df.to_excel('new.xlsx',sheet_name = 'Weather_data')

# Reading the data(CSV)

In [28]:
df=pd.read_csv('data.csv')
df

    name  age
0  Prasi   21
1   Suji   20

# Exploring Data

In [29]:
df.head(3)

    name  age
0  Prasi   21
1   Suji   20

In [30]:
df.tail()

    name  age
0  Prasi   21
1   Suji   20

In [31]:
df['Date'][df['Condition'] == 'Rainy']

KeyError: 'Date'

In [37]:
df.shape

(2, 2)

In [38]:
df[2:5]

Empty DataFrame
Columns: [name, age]
Index: []

In [39]:
df.columns

Index(['name', 'age'], dtype='object')

In [40]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [35]:
df.dtypes

name    object
age      int64
dtype: object

In [36]:
df.Date

AttributeError: 'DataFrame' object has no attribute 'Date'

In [41]:
df['Date']

KeyError: 'Date'

In [42]:
df[['Date','Condition']]

KeyError: "None of [Index(['Date', 'Condition'], dtype='object')] are in the [columns]"

# Missing Values

In [43]:
df.isnull()

    name    age
0  False  False
1  False  False

In [44]:
df = pd.DataFrame({
    "name":["Prasi","suji","Chitti"],
    "age":[21,20,None]
    })
df

     name   age
0   Prasi  21.0
1    suji  20.0
2  Chitti   NaN

In [45]:
df.isnull().sum()    # total Missing values

name    0
age     1
dtype: int64

In [46]:
df[df.isnull().any(axis=1)] #show rows with missing values

     name  age
2  Chitti  NaN

In [47]:
df['age'] = df['age'].fillna(df['age'].mean())

In [48]:
df

     name   age
0   Prasi  21.0
1    suji  20.0
2  Chitti  20.5

In [49]:
df_clean = df.dropna()

In [50]:
df_clean

     name   age
0   Prasi  21.0
1    suji  20.0
2  Chitti  20.5

# Duplicates

In [51]:
df = pd.DataFrame({
    "name":["Prasi","Suji","Suji"],
    "age":[25,20,20]
})
df

    name  age
0  Prasi   25
1   Suji   20
2   Suji   20

In [52]:
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [53]:
df = df.drop_duplicates()
df

    name  age
0  Prasi   25
1   Suji   20